apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: thallavi/nodejs-otel-app:latest
        ports:
          - containerPort: 3000
        env:
          - name: OTEL_COLLECTOR_URL
            # value: "http://otel-collector.observability:4317"
            value: "http://otel-collector.observability.svc.cluster.local:4317"
          - name: METRICS_INTERVAL_MS
            value: "10000"
          - name: SERVICE_NAME
            value: "nodejs-otel-app-2"
          - name: SERVICE_VERSION
            value: "1.0.0"
          - name: PORT
            value: "3000"
          - name: NODE_ENV
            value: "production"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
