apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gp3
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
reclaimPolicy: Delete #  Delete or Retain
volumeBindingMode: WaitForFirstConsumer

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: storage-loki-0
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
reclaimPolicy: Delete #  Delete or Retain
volumeBindingMode: Immediate
