apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    exporters:
      otlp/jaeger:
        endpoint: "jaeger-collector.observability.svc.cluster.local:4317"
        # tls:
        #   cert_file: cert.pem
        #   key_file: cert-key.pem
        tls:
          insecure: true
      prometheus:
        endpoint: "0.0.0.0:8889"

      prometheusremotewrite:
        endpoint: "http://prometheus-operated.observability.svc.cluster.local:9090/api/v1/write"

      otlphttp:
        endpoint: http://loki-gateway.observability.svc.cluster.local:80/otlp
        # endpoint: http://loki-gateway.monitoring.svc.cluster.local:80/otlp
        headers:
          "X-Scope-OrgID": "my-org"
      # loki:
      #   endpoint: "http://loki.observability.svc.cluster.local:3100/loki/api/v1/push"

    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [otlp/jaeger]
        metrics:
          receivers: [otlp]
          exporters: [prometheusremotewrite]
        logs:
          receivers: [otlp]
          exporters: [otlphttp]
