prometheusOperator:
  enabled: true

prometheus:
  prometheusSpec:
    enableRemoteWriteReceiver: true

    retention: 30d
    serviceMonitorSelector:
      matchLabels:
        release: kube-prometheus-stack  # Match your ServiceMonitor label
    serviceMonitorNamespaceSelector: {}  # Allow all namespaces
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          resources:
            requests:
              storage: 5Gi
  ingress:
    enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
    alertmanagerConfiguration:
        name: alert-config  # Matches your AlertmanagerConfig metadata.name
    alertmanagerConfigSelector: null
    alertmanagerConfigNamespaceSelector: null
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          resources:
            requests:
              storage: 2Gi

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  service:
    name: prometheus-grafana
    type: ClusterIP
    port: 80
  persistence:
    enabled: true
    storageClassName: gp3
    size: 5Gi
  ingress:
    enabled: false

  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki-gateway.observability.svc.cluster.local:80
      access: proxy
      jsonData:
        httpHeaderName1: "X-Scope-OrgID"
      secureJsonData:
        httpHeaderValue1: "fake"

  env:
    # If you are using Jaeger agent inside Grafana pod, otherwise leave empty
    JAEGER_AGENT_PORT: ""

